* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #212121;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}
span{
    color:rgb(159, 108, 12);
}

/* NAV BAR AND HEADER */
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.titulo{
    flex-grow: 1;
    margin-left: 100px;
}

.lista{
    list-style-type: none;
    display: flex;
    
}
.itemlista{
    padding-right: 50px;
    position: relative;
  overflow: hidden;
}
.itemlista:hover i, .itemlista:hover a{
    color: rgb(159, 108, 12);
}
i{
    padding-right: 5px;
}
a {
    text-decoration: none;
}
a:visited { 
    text-decoration: none;
    color: white;
}
p {
    color: gray;
    margin-bottom: 20px;
}
.h2, .h3, button{
    margin-bottom: 10px;
}


  
  
div i {
    font-size: 40px;
    margin-top: 25px;
    padding-right: 25px;
}
/* HOME SECTION */
.home{
    display: flex;
}
.divimagen{
   
    width: 50%;
    display: flex;
    justify-content: center;
}
.imagendegil{
    width: 30%
}

.divtexto{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 150px;
}

.h2 {
    font-size: 30px;
}
.name{
    font-size: 50px;
}


/* ABOUT SECTION */

.about{
    display: flex;
    flex-direction: row-reverse;

}
.divimagen2{
    
    width: 50%;
    display: flex;
    justify-content: center;
}
.divtexto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 300px;

}
.imagendegil2{
    width: 30%;
}

/* My skills SECTION */

.stack{
    display: flex

}
.divtexto3{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
    padding-left: 300px;
}

.divlista{
    
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listaskills {
    list-style-type: none;
}

.listaskillsitem{
    padding-top: 10px;
}

/*STACK SECTION*/
.services{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.divarticles{
    
    display: flex;
    height: 400px;
    justify-content: space-around;
}

.front{
    
    width: 20%;
    text-align: center;
}
.back{
    
    width: 20%;
    text-align: center;
}
.fb{
    padding-top: 20px;
}

/* PROJECTS SECTION*/

.projects{
    display: flex;
    flex-direction: column;

}

.divtexto4{
    
    text-align: center;
}

.divarticles2{
    display: flex;
    
}

.project1{
    
    width: 33%;
    display: flex;
    justify-content: center;
}

.project2{
    
    width: 33%;
    display: flex;
    justify-content: center;
}

.project3{
    width: 33%;
    display: flex;
    justify-content: center;
}

.imagendegil3{
    width: 33%;
    
}

/* CONTACT SECTION */

.contact {
    display: flex;
    flex-direction: column;
}

.divtexto5{
    text-align: center;
}
.divboton{
    display: flex;
    justify-content: center;
}

.inputs{
    display: flex;
    justify-content: center;
}

.textarea{
    display: flex;
    justify-content: center;
}
.buttons {
    background-color: rgb(159, 108, 12);
    padding: 8px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
    border: none;
}

.uno{
    background-color: #353434;
    font-family: "Source Sans Pro", sans-serif;
    height: 50px;
    width:200px ;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    margin-top: 20px;
    color:white;
    padding-left: 10px;
}
.dos{
    background-color: #353434;
    font-family: "Source Sans Pro", sans-serif;
    height: 200px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    width: 410px;
    margin-left: 10px;
    color:white;
    padding-top: 10px;
    padding-left: 10px;
}
.mini {
    font-size: 20px;
}
.h3, h4 {
    font-size: 30px;
}
.form {
    background-color: #212121;
    width: 500px;
    margin: 0 auto;
    height:330px ;
    border-radius: 10px;
}

.button {
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    width: 150px;
    color: black;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(to right, #ff9f1c, #e6b566, #ff9f1c);
    background-size: 400% 100%;
    animation: borderAnimation 2s linear infinite;
    border-radius: 10px;
  }
  
  @keyframes borderAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .iconcontainer{
    display: flex;
    margin-bottom: 25px;
    align-items: flex-end;
    justify-content: space-evenly;

  }
  
  .ifooter {
    font-size: 40px;
    margin-top: 25px;
    padding-left: 20px;
  }
  .h3footer{
    margin-bottom: 10px;
  }  

  .footericons{
    padding-left: 120px;
  }
  